@charset "UTF-8";

body {
  background-color: #efefef;
}

.max-container {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

.ant-layout {
  background: #fff;
}

.head {
  /* background-color: gray; */
}

.footer {
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singlePageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.mainBanner {
  position: relative;
  width: 100%;
  height: 300px;
  background: #f2f2f2;
  margin-bottom: 0;
  background-position: center;
  background-size: 100%;
}
