@charset "UTF-8";

body {
  background-color: #efefef;
}

.max-container {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

.ant-layout {
  background: #fff;
}

.head {
  /* background-color: gray; */
}

.footer {
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singlePageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.mb {
  position: relative;
  width: 100%;
  background: #f2f2f2;
  margin-bottom: 10px;
}
.mainBanner {
  position: relative;
  height: 480px;
}
.mainBanner img {
  object-fit: fill;
}

.top-to-btm {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.site-card-wrapper {
  padding: 10px;
  background: #ececec;
}
