@charset "UTF-8";

body {
  background-color: #efefef;
}

.max-container {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

.ant-layout {
  background: #fff;
}

.footer {
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
